.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 80px 120px;
}
.order-details-main-container{
    background-color: rgba(253, 130, 48, 0.836);
    color: rgb(36, 36, 36);
}
