.menu {
    background-color: #1C2B35;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 20px;
}